/* stylelint-disable */

@font-face {
	font-family: 'TTNormsPro';
	src: url("../fonts/TTNormsPro/TTNormsPro-Regular.woff2") format("woff2"),
		url("../fonts/TTNormsPro/TTNormsPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'TTNormsPro';
	src: url("../fonts/TTNormsPro/TTNormsPro-Medium.woff2") format("woff2"),
		url("../fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'NotoSerif';
	src: url("../fonts/NotoSerif/NotoSerif-Regular.woff2") format("woff2"),
		url("../fonts/NotoSerif/NotoSerif-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'NotoSerif';
	src: url("../fonts/NotoSerif/NotoSerif-Italic.woff2") format("woff2"),
		url("../fonts/NotoSerif/NotoSerif-Italic.woff") format("woff");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'NotoSerif';
	src: url("../fonts/NotoSerif/NotoSerif-Bold.woff2") format("woff2"),
		url("../fonts/NotoSerif/NotoSerif-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'NotoSerif';
	src: url("../fonts/NotoSerif/NotoSerif-BoldItalic.woff2") format("woff2"),
		url("../fonts/NotoSerif/NotoSerif-BoldItalic.woff") format("woff");
	font-style: italic;
	font-weight: 700;
}
