
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        padding-bottom: 160px;
        background-position: center top;
        background-image: url("../media/section/face.jpg");
    }

    &_screen2 {
        background-position: center;
        background-image: url("../media/section/screen2.jpg");
        background-repeat: no-repeat;
    }

    &_screen3 {
        background-position: center top;
        background-image: url("../media/section/screen3.jpg");
    }

    &_screen4 {
        min-height: 866px;
        padding-top: 160px;
        background-position: center top;
        background-image: url("../media/section/screen4.jpg");
    }

    &_screen5 {
        padding-top: 120px;
        background-position: center;
        background-image: url("../media/section/screen5.jpg");
    }

    &_screen6 {
        padding-top: 90px;
        padding-bottom: 90px;
        position: relative;
        background-image: url("../media/section/screen6.jpg");
    }

    &_screen7 {
        position: relative;
        background-image: url("../media/section/screen7.jpg");
        background-position: top center;
    }
    
    &_commits {
        padding-top: 120px;
    }

    &_screen8 {
        background-color: #e7edf3;
    }
}

@media (max-width: 1280px) {
    .section {
        &_face {
            background-image: url("../media/section/face-1280.jpg");
        }

        &_screen4 {
            padding-top: 450px;
            background-image: url("../media/section/screen4-1280.jpg");
        }

        &_screen5 {
            padding-top: 60px;
        }

        &_screen6 {
            background-size: cover;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_screen2 {
            background-image: none;
        }

        &_screen3 {
            background-image: none;
        }

        &_screen4 {
            padding-top: 450px;
        }

        &_screen5 {
            background-position: center 210px;
            background-image: url("../media/section/screen5-768.jpg");
        }

        &_screen7 {
            background-image: url("../media/section/screen7-768.jpg");
            background-color: #9eb677;
        }
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            background-image: url("../media/section/face-480.jpg");
        }

        &_screen4 {
            padding-top: 370px;
            background-image: url("../media/section/screen4-480.jpg");
        }

        &_screen6 {
            background-image: url("../media/section/screen6-480.jpg");
        }
    }
}
