
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        padding-top: 35px;
        padding-bottom: 140px;
        background-position: center top;
        background-image: url("../media/section/face.jpg");
    }

    &_gold {
        background-position: center top;
        background-image: url("../media/section/gold.jpg");
    }

    &_benefit {
        min-height: 600px;
        position: relative;
        background-position: center top;
        background-image: url("../media/section/benefit.jpg");
        overflow: hidden;
    }

    &_job {
        background-color: #ece6df;
    }
}

.section__title {
    font-size: 52px;
    color: #2e2960;
    font-family: "NotoSerif", sans-serif;
    font-weight: 400;
    line-height: 1;
}

@media (max-width: 1280px) {
    .section {
        &_face {
            padding-bottom: 60px;
        }

        &_benefit {
            background-image: url("../media/section/benefit-1280.jpg");
            background-size: cover;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            background-image: url("../media/section/face-768.jpg");
        }

        &_gold {
            padding-bottom: 330px;
            background-color: #f7f2ec;
            background-position: center bottom;
            background-image: url("../media/section/gold-768.jpg");
        }
    }
}

@media (max-width: 480px) {
    .section {
        &_gold {
            padding-bottom: 30px;
            background-image: none;
            background-color: #fff;
        }
    }
}
