<section class="section section_benefit">
    <div class="container">
        <div class="benefit">
            <div class="benefit__title section__title">Чем полезно золото для лица?</div>
            <p>Откроем тайну: золотые пластины, наложенные на лицо сколь угодно щедрым слоем, не вернут вам молодость. Сегодня, говоря о пользе золота для кожи лица, мы имеем в виду не совсем тот самый металл, из которого делают ювелирные украшения. Речь идет о коллоидном золоте или нанозолоте – мельчайших частицах этого драгоценного металла.</p>
            <p>Ученые доказали, что наночастицы золота в сочетании с гиалуроновой кислотой творят чудеса с увядающей кожей – насыщают ее клетки кислородом и улучшают метаболизм, способствуют усвоению других полезных компонентов, очищают от токсинов, нормализуют Ph-баланс, увлажняют и омолаживают.</p>
        </div>
        <div class="benefit__wrap">
            <div class="benefit__media">
                <img src="../media/benefit/face-1.png" alt="">
                <img src="../media/benefit/face-2.png" alt="">
            </div>
        </div>
    </div>
</section>