<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Dianol помог им вернуться к привычной жизни</div>
            <div class="commits__subtitle">Тысячи людей оценили достоинства нового вспомогательного средства против диабета</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                    <div class="commits__name">Kathalina Dalmazzo, <span>50 лет</span></div>
                    <div class="commits__description">У меня в семье по женской линии все страдают диабетом. Первым симптомом у меня стало резкое увеличение веса. Я пыталась худеть на диетах, заниматься спортом, но все было бесполезно. Тогда я решила проверить сахар и он оказался повышенным. По совету знакомого специалиста заказала Dianol. Первое, что заметила – прошли отеки и  чувство жажды. Через месяц сделала контрольный анализ на сахар – он стабилизировался. Вес начал снижаться естественно, без всяких ограничений и нагрузок. Dianol действительно работает.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.jpg" alt=""></div>
                    <div class="commits__name">Hans Nancupel, <span>44 года</span></div>
                    <div class="commits__description">Врачи диагностировали у меня преддиабетическое состояние в 43 года. На тот момент я весил больше сотни, у меня была одышка, повышенная потливость, немели руки и ноги во время сна. Хорошо, что я нашел Dianol. Я стал принимать это средство по инструкции и практически сразу заметил эффект. Аппетит снизился – как потом объяснили, из-за отсутствия резких скачков сахара в крови, обусловленных перееданием. Лишний вес стал уходить, наладился сон, прошла одышка, руки перестали неметь. Всего за 2 месяца я улучшил здоровье и избавился от неприятного диагноза, который грозил перерасти в настоящий ужас. Прошел почти год, как я пропил курс, чувствую себя хорошо. Но врач советует все равно раз в год делать профилактику.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.jpg" alt=""></div>
                    <div class="commits__name">Jeannette Saldes, <span>70 лет</span></div>
                    <div class="commits__description">Dianol буквально спас меня. Лечение уже не помогало, сахар мог достигать критические отметки в 30 ммоль. Раньше я не расставалась с глюкометром и таблетками для снижения сахара. Напрягало, что нужно было тщательно следить за питанием. С Dianol я могу себе позволит есть все, что хочу без опасений. Совместно с лечением и инсулином, он помог мне стабилизировать уровень глюкозы и перестать опасаться за свою жизнь и здоровье.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-4.jpg" alt=""></div>
                    <div class="commits__name">Paloma Uriona, <span>29 лет</span></div>
                    <div class="commits__description">Никогда не думала, что в своем возрасте стану разбираться в глюкозопонижающих средствах лучше эксперта. После того, как одно из принимаемых мною средств сняли с производства, решила искать безопасную и натуральную замену. И им стало средство Dianol. Я очень довольна – даже после того, как я поем, уровень сахара остается на допустимом уровне, а не скачет. Специально замеряла показатели несколько раз, Dianol работает стабильно.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="alarm">
            <div class="alarm-wrap">
                <div class="alarm-left">
                    <h3 class="alarm-title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></h3>
                </div>
                <div class="alarm-right">
                <p class="alarm-text">Количество упаковок Dianol, необходимое для желаемого результата, <b>определяется индивидуально и в отдельных случаях может увеличиться.</b></p>
                </div>
            </div>
        </div>
    </div>
</section>