<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo">Evelan</div>
            <div class="face__box">
                <div class="face__subtitle">Выглядеть на 20 лет моложе!</div>
                <h1 class="face__title">Evelan – машина <br> времени для <br> вашей кожи</h1>
                <div class="face__list">
                    <div class="face__item"><span>Разглаживает</span> <br> морщины</div>
                    <div class="face__item"><span>Устраняет</span> <br> расширенные поры</div>
                    <div class="face__item"><span>Борется</span> с <br> гиперпигментацией</div>
                    <div class="face__item"><span>Возвращает</span> <br> тонус коже</div>
                    <div class="face__item"><span>Подтягивает</span> <br> овал лица</div>
                </div>
                <div class="face__product"><img src="../media/product.png" alt=""></div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>