<section class="section section_face">
    <div class="container">
        <div class="face">
            
            <div class="face__box">
                <div class="face__product"><img src="../media/product.png" alt=""></div>
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>