<section class="section section_gold">
    <div class="container">
        <div class="gold">
            <div class="gold__title section__title">Коллоидное <br> золото – секрет <br> вечной молодости</div>
            <div class="gold__subtitle">«Эликсир жизни» – так называли золото в древнем Египте.</div>
            <p>Неземная красота Клеопатры вошла в легенды, а секретом ее молодости была маска из чистого золота, которую она надевала каждую ночь.</p>
            <p>Сегодня на такой бьюти-эксперимент вряд ли кто-то решится. Оно и не нужно. Ученые успешно использовали «наработки» Клеопатры и прочих монарших особ древности, чтобы создать современное инновационное средство.</p>
        </div>
    </div>
</section>