<section class="section section_instruction">
    <div class="container">
        <div class="instruction">
            <div class="instruction__title section__title">Правила нанесения Evelan для усиления омолаживающего эффекта</div>
            <div class="instruction__subtitle">Наносите крем на лицо по линиям массажа. Благодаря этому, молекулы средства попадают в лимфатическую систему и к коллагеновым волокнам.</div>
            <div class="instruction__body">
                <div class="instruction__item">
                    <div class="instruction__media">
                        <div class="instruction__img">
                            <img src="../media/instruction/img-1.jpg" alt="">
                        </div>
                        <div class="instruction__count">01</div>
                    </div>
                    <div class="instruction__info">На лоб крем наносится <br> снизу-вверх. Разотрите его обеими <br> руками по дуге в направлении <br> висков.</div>
                </div>
                <div class="instruction__item">
                    <div class="instruction__media">
                        <div class="instruction__img">
                            <img src="../media/instruction/img-2.jpg" alt="">
                        </div>
                        <div class="instruction__count">02</div>
                    </div>
                    <div class="instruction__info">Избегайте области <br> вокруг глаз.</div>
                </div>
                <div class="instruction__item">
                    <div class="instruction__media">
                        <div class="instruction__img">
                            <img src="../media/instruction/img-3.jpg" alt="">
                        </div>
                        <div class="instruction__count">03</div>
                    </div>
                    <div class="instruction__info">На щеки средство наносят начиная <br> с носа и по дуге к вискам при <br> помощи растирания.</div>
                </div>
                <div class="instruction__item">
                    <div class="instruction__media">
                        <div class="instruction__img">
                            <img src="../media/instruction/img-4.jpg" alt="">
                        </div>
                        <div class="instruction__count">04</div>
                    </div>
                    <div class="instruction__info">Далее переходят к области вокруг <br> губ – полоску крема растирают от <br> середины подбородка и в стороны.</div>
                </div>
            </div>
            <div class="instruction__footer">Поэтапное растирание – это отличный массаж, способствующий активизации кровотока, питанию клеток дермы и улучшению цвета лица. </div>
        </div>
    </div>
</section>