<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="job__title section__title">Как работает Evelan?</div>
            <div class="job__body">
                <div class="job__item">
                    <div class="job__name">Увлажняет и питает</div>
                    <p>Это кажется банальным, но как раз в этих действиях особенно нуждается возрастная кожа. 55 лет – период, когда снижается уровень женских половых гормонов, отвечающих, в том числе, за выработку защитных липидов. Evelan предотвращает чрезмерную сухость кожи, которая способствует образованию морщин и тусклости за счет восполнения нехватки собственных липидов в коже.</p>
                </div>
                <div class="job__item">
                    <div class="job__name">Укрепляет каркас</div>
                    <p>Одна из самых обидных перемен, которую несет с собой возраст – потеря упругости кожи и, как следствие, изменение овала лица. Действие Evelan нацелено на уплотнение кожи и повышение упругости за счет компонентов, активизирующих производство коллагена и гиалуроновой кислоты.</p>
                </div>
                <div class="job__item">
                    <div class="job__name">Выравнивает тон</div>
                    <p>Гиперпигментация – еще один признак увядающей кожи. Evelan эффективно борется с этим недостатком, возвращая коже здоровый вид, устраняя пигментные пятна и сосудистые сеточки.</p>
                </div>
            </div>
        </div>
    </div>
</section>