<section class="section section_prof">
    <div class="container">
        <div class="prof">
            <div class="prof__title section__title">Мнение косметолога</div>
            <p>«Золото в косметологии выполняет сразу несколько важных функций. Оно обладает бактерицидным действием и значительно повышает способность кожи к поглощению и сохранению влаги, а также является великолепным «проводником» для биологически активных компонентов – витаминов и растительных экстрактов.</p>
            <p>Особенно важная функция золота – быстрая доставка молекул кислорода в глубокие слои кожи, что улучшает питание, клеточное дыхание и энергетический обмен в клетках.</p>
            <p>Сегодня самым лучшим средством с коллоидным золотом является крем Evelan. Молекулы золота в его составе проникают в ткани и нормализуют синтез эластина и коллагена. Это приводит к подтягиванию, уплотнению и разглаживанию кожи. Также Evelan усиливает лимфоотток и микроциркуляцию, обеспечивает очищение кожи от токсинов, способствует увлажнению и питанию».</p>
            <div class="prof__footer">
                <p>Людмила Щербакова, косметолог, <br> стаж работы 17 лет</p>
                <div class="prof__id"><img src="../media/prof/id.png" alt=""></div>
            </div>
        </div>
    </div>
</section>