<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="sostav__title section__title" data-aos="fade-up">Уникальный <br> состав Evelan</div>
            <div class="sostav__product"><img src="../media/product.png" alt=""></div>
            <div class="sostav__box">
                <div class="sostav__item">
                    <div class="sostav__body">
                        <div class="sostav__media"><img src="../media/sostav/img-1.jpg" alt=""></div>
                        <div class="sostav__description">
                            <div class="sostav__name">Нанозолото</div>
                            <div class="sostav__info">Проникает через кератиновый слой эпидермиса, усиливает кровообращение и ускоряет процессы клеточного обновления. Возвращает упругость кожи и запускает интенсивное восстановление.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__body">
                        <div class="sostav__media"><img src="../media/sostav/img-2.jpg" alt=""></div>
                        <div class="sostav__description">
                            <div class="sostav__name">Масло авокадо</div>
                            <div class="sostav__info">Источник антиоксидантов, минералов и витаминов. Успокаивает и исцеляет кожу, увлажняет кожный покров и защищает от повреждений. Делает кожу эластичной, разглаживает морщины.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__body">
                        <div class="sostav__media"><img src="../media/sostav/img-3.jpg" alt=""></div>
                        <div class="sostav__description">
                            <div class="sostav__name">Гиалуроновая кислота</div>
                            <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам и воздействию ультрафиолета. Снимает воспаление, устраняет раздражение и шелушение. </div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__body">
                        <div class="sostav__media"><img src="../media/sostav/img-4.jpg" alt=""></div>
                        <div class="sostav__description">
                            <div class="sostav__name">Экстракт корня солодки</div>
                            <div class="sostav__info">Смягчает и оказывает противовоспалительное действие. Обладает очищающим и отбеливающим действием. Регенерирует и заживляет. Применяется для чувствительной кожи.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__body">
                        <div class="sostav__media"><img src="../media/sostav/img-5.jpg" alt=""></div>
                        <div class="sostav__description">
                            <div class="sostav__name">Масло ши</div>
                            <div class="sostav__info">Улучшает внутриклеточный метаболизм, что приводит к омоложению кожи и увеличению образования коллагена и эластина, повышающего упругость ткани. Интенсивно увлажняет, борется с сухостью и шелушениями. Усиливает механизм регенерации.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__body">
                        <div class="sostav__media"><img src="../media/sostav/img-6.jpg" alt=""></div>
                        <div class="sostav__description">
                            <div class="sostav__name">Алоэ вера</div>
                            <div class="sostav__info">Питает, насыщает витаминами, микроэлементами. В результате кожа светится изнутри, выглядит отдохнувшей и молодой. При регулярном использовании овал лица становится более подтянутым, кожа разглаживается и устраняется жирный блеск.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>