<section class="section section_update">
    <div class="container">
        <div class="update">
            <div class="update__body">
                <div class="update__title section__title" data-aos="fade-up">Evelan – полное обновление кожи частичками нанозолота</div>
                <div class="update__media">
                    <img src="../media/product.png" alt="">
                </div>
                <p>Аристократическая традиция применения драгоценного металла на благо молодости никуда не исчезла. Сегодня этот способ стал доступен тысячам людей, которым уже не нужен секрет Клеопатры.</p>
                <p>Evelan – это активный крем на основе гиалуроновой кислоты и нанозолота. Он интенсивно восстанавливает и питает кожу, разглаживает даже самые глубокие морщины и моделирует овал лица.</p>
                <p>Коллоидное золото в составе позволяет значительно ускорить проникновение питательных веществ в глубокие слои дермы и стимулировать процесс регенерации.</p>
                <p>Регулярное использование Evelan позволяет заметно улучшить цвет лица, восстановить эластичность и тонус кожи.</p>
            </div>
        </div>
    </div>
</section>